
.lesson {
  background-color: rgb(36, 122, 235);
}

.title {
  color: rgb(0, 0, 0);
}

#title-name{
    color: rgb(255, 255, 255);
}

#title-contact{
  color: white;
}

#email {
  background-color: #c2c2c2;
}

#github {
  background-color: rgb(255, 255, 255)
}

#portfolio {
  background-color:#c2c2c2;
}

img {
  border-radius: 10%;
max-width: 25%;
height: auto;}
